
@{
    ViewData["Title"] = "Login";
}

<form action="LoginJwt" method="post">
    <label for="jwt">JWT</label/>
    <input type="text" id="jwt" name="jwt" />
    <label for="returnUrl">Return URL</label/>
    <input type="text" id="returnUrl" name="returnUrl" value="@ViewBag.returnUrl"/>
    <input type="submit" value="Login"/>
</form>

